body {
  background-image: url("/public/img/pet_login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;

  font-family: 'Segoe UI';
  overflow-y: hidden;
}

.card {
  background-image: url("/public/img/fundoBrancoSeg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.card-size {
  max-width: 500px; 
  margin: auto;
}

.card_interno { 
  max-width: 350px;
  margin: auto;  
}

.type-of-field {
  background-color: #acf69f;
  color: black;
  font-size: 16px;
  font-weight: 600;  
}

.asterisk {
  color: red;
}

.button-position {  
  float: right;
}

.button-style {
  background-color: #acf69f;
  color: black;  
  font-size: 16px;
  border-radius: 5px;
  font-weight: 600;
  margin-left: 5px;
}

.feedback {
  color: red;
  font-size: 12px;   
}