body {
    background-image: url("/public/img/pet_login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;

    font-family: 'Segoe UI';
}

table {
    width: 50% !important;
}

.div-button-search {
    width: 50% !important;
}

.tbody_table {
    background-image: url("/public/img/fundoBrancoSeg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;   
}

.button_search { 
    font-size: 16px;
    background-color: #828282;
    color: white;       
}

.button_search:hover {     
    background-color:  #828282;
    color: white;
    font-weight: 600;      
}

.thead-style {
    background-color: #828282;
    color: white;    
    text-align: center;
}

.button-style-row {
    background-color:  #828282;
    color: white;
    font-weight: 600;  
    float: right;
    margin-left: 5px;
    border-radius: 5px;
    padding: 3px 8px 3px 8px;
    font-size: 12px;
}

.button-style {
    background-color: #828282;
    color: white;  
    font-size: 16px;
    border-radius: 5px;    
    margin-left: 5px;
    text-align: center;
}

.button-style:hover {
    background-color: #828282;
    color: white; 
    font-weight: 600;
}

.button-position {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 3%;
    margin-right: 2%;
}

.card_interno { 
    max-width: 350px;
    margin: auto;  
}

.type-of-field {
    background-color: #acf69f;
    color: black;
    font-size: 16px;
    font-weight: 600;  
}

.modal-info-pet {
    font-family: 'Segoe UI';
    background-image: url("/public/img/fundoBrancoSeg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;  
}

.modal-title {    
    font-size: 20px;
    text-align: center;
    width: -webkit-fill-available;    
}

.modal-button-search-body {
    font-size: 18px;
}

.modal-button-search {
    font-family: 'Segoe UI';    
    background-color: #f7e4e1;
}