body {
    background-image: url("/public/img/pet_login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    
    font-family: 'Segoe UI';
}

table {
    width: 50% !important;
}

.input-group {
    width: 50% !important;
}

.tbody_table {
    background-image: url("/public/img/fundoBrancoSeg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;   
}

.button_search { 
    font-size: 16px;
    background-color: #828282;
    color: white;       
}

.button_search:hover {     
    background-color:  #828282;
    color: white;
    font-weight: 600;      
}

.thead-style {
    background-color: #828282;
    color: white;    
}

.input_search {
       
}   

.tr_title_table {
     text-align: center;
}